/* App.css */
body {
  background-color: #575b5a;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.todo-container {
  background: white;
  width: 400px;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.todo-input {
  width: 75%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
  
  
}

.todo-input:focus { border-color: #6c63ff; }

.add-btn {
  padding: 10px 15px;
  background-color: #6c63ff;
  color: white;
  border: none;
  border-radius: 6px;
  margin-left: 5px;
  cursor: pointer;
}

.add-btn:disabled { background-color: #ccc; }

ul { list-style: none; padding: 0; margin-top: 20px; }

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  background: #fff;
  border-bottom: 1px solid #eee;
  transition: 0.3s;
}

.todo-item:hover { background: #fafafa; }


.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px; /* Thoda space badhao */
  background: white;
  border-bottom: 1px solid #eee;
}

/* Isse icons aur text line mein aayenge */
.todo-item div {
  display: flex;
  align-items: center;
}